{% extends 'index.html' %}

{% block content %}

<h1>Poista harjoitus</h1>

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">Haluatko varmasti poistaa harjoituksen</h3>
        <h5 class="card-text">Harjoitus: {{treeniliikkeet.liikenimi}}</h5>
        
        <a href="/treeniliikkeet/" class="btn btn-primary">Back</a>

        <a href="/delete-treeniliikkeet/{{treeniliikkeet.id}}/" class="btn btn-danger">Delete</a>

    </div>
</div>

{% endblock %}